.nav {
  grid-area: n;
  background-color: beige;
  padding: 20px;
}
.item a{
   text-decoration: none;
  color: green;
  text-decoration-skip-ink: auto;
}
.item a.active {
  color: gold;
}
.item:last-child {
  margin-top: 100px;
}
